<p id="notice"><%= notice %></p>

<p>
  <strong>Due date:</strong>
  <%= @todoitem.due_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @todoitem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todoitem.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todoitem.completed %>
</p>

<%= link_to 'Edit', edit_todoitem_path(@todoitem) %> |
<%= link_to 'Back', todoitems_path %>
